---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---
<head>
    <title>about | blake-sama</title>
</head>
<Layout>
    <h1 class="text-2xl py-2">what is there to know about blake</h1>
    <p>
    in all honesty? not much. not in a bad way! it's just . . . how much of me do i want to share online?
    again, in all honest? not much.
    <br><br>
    "well why even have an about section?" - great question!
    i think it's because one day, i want to put something here.
    <br>
    i want to be about to tell you about some key thing i've done, or something important i built.
    <br>
    as of today? i don't have much to share. but i'll keep this about page ready for when that changes.
    <br><br>
    (p.s., i guess i can write that i am learning c++ and godot game dev and training for a ServiceNow Developer position)
    </p>  
</Layout>
