---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import '../styles/global.css';
---
<head>
    <title>projects | blake-sama</title>
</head>
<body>
    <Layout>
        <Navigation />
        <h1 class="text-center text-2xl py-6">project(s):<br>this website</h1>
    </Layout>
</body>