---
import "../styles/global.css";
---

<div>
	<main>
		<section>
            <ul>
                <li class="flex justify-center gap-8">
                    <a href="/">home</a>
                    <a href="/about">about</a>
                    <a href="/projects">projects</a>
                </li>
            </ul>
		</section>
	</main>
</div>