---
import "../styles/global.css";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>blake-sama</title>
	</head>
	<body class="min-h-dvh bg-gradient-to-br from-gray-900 to-gray-800 text-white">
        <div class="min-h-dvh flex items-center justify-center">
			<div class="w-full max-w-5xl mx-auto border rounded-lg bg-slate-800/60 backdrop-blur">
				<!-- defines page height so page doesn't scroll -->
				<div class="grid overflow-hidden grid-rows-[100px_minmax(500px,1fr)_75px] h-[80vh]">
					<header class="px-6 py-8 bg-slate-600/60 rounded-t-lg backdrop-blur">
						<!-- nav -->
						<nav class="flex justify-center text-2xl gap-8">
							<a href="/">home</a>
							<a href="/about">about</a>
							<a href="/projects">projects</a>
							<a href="/posts">posts</a>
						</nav>
					</header>
					<main class="px-6 py-4 overflow-y-auto overscroll-contain">
						<slot />
					</main>
					<footer class="px-6 py-4 bg-slate-600/60 rounded-b-lg backdrop-blur">
						<p class="text-center text-sm opacity-70">
							webring would go here
						</p>
					</footer>
				</div>
			</div>
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
